---
layout: default
title: "zhenian' blog"
active: index
keywords: "zhenian"
description: "zhenian' blog 。"
---


<div id="home">
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li class="post rds">
      	<div class="title">
        	<span class="posttitle"> <a href="{{site.url}}{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></span>
        </div>
        <div class="content">
        	{{ post.content | truncatehtml: 10 }}
        </div>
		<hr/>
      </li>
    {% endfor %}
    <!-- page -->
    <li class="post rds page"><div>

  {% if paginator.previous_page %}
    <span class="previous">
      {% if paginator.previous_page == 1 %}
        <a href="{{site.url}}{{site.baseurl}}/">Previous</a>
      {% else %}
        <a href="{{site.url}}{{site.baseurl}}{{ paginator.previous_page_path }}">Previous</a>
      {% endif %}
    </span>
  {% else %}
    <span "previous disabled"> Previous</span>
  {% endif %}

    
      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <span class="page"><a href="{{site.url}}{{site.baseurl}}/">1</a> </span>
      {% endif %}
   

    {% for count in (2..paginator.total_pages) %}
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <span class="page"><a href="{{site.url}}{{site.baseurl}}/page{{ count }}">{{ count }}</a> </span>
        {% endif %}
    {% endfor %}
 

  {% if paginator.next_page %}
   <span class="next"><a href="{{site.url}}{{site.baseurl}}{{ paginator.next_page_path }}">Next</a></span>
  {% else %}
   <span class="next disabled">Next</span>
  {% endif %}

    </div>
    </li>	
  <!-- end of page -->
  </ul>
</div>


<div id="post-pagination">

  
</div>